:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.tile_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    flex-grow: 1;
}

my-header,
my-wiab {
    flex-grow: 0;
}

my-tile {
    margin: 2vw;
}

@media all and (min-width: 800px) {
    my-tile {
        width: 36%;
    }
}
img {
    max-width: 90px;
}
